.container {
  padding: 10px;
  height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
  color: white;
  z-index: 1;
  box-shadow: 0 6px 12px rgba(63, 63, 63, 0.2);
}

.header {
  height: 60px;
  vertical-align: middle;
  white-space: nowrap;
  align-items: center;
  display: flex;
}

.icon {
  border-radius: 100%;
  outline: red, solid , 1 ;
}

